.popup__error {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;
    color: #FF0000;
    position: absolute;
    top: 40px;
    left: 0px;
}