.profile {
    display: flex;
    max-width: 880px;
    margin: 0 auto;
    align-items: center;
    padding-top: 33px;
}

@media screen and (max-width: 1023px) {
    .profile {
        padding-left: 19px;
        padding-right: 19px;
    }
}

@media screen and (max-width: 767px) {
    .profile {
        flex-direction: column;
        padding-top: 42px;
    }
}