.popup__submit-button {
    width: 358px;
    height: 50px;
    background-color: black;
    border-radius: 2px;
    padding: 0;
    align-self: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    border: 0;
    margin-bottom: 37px;
    margin-top: 18px;
}

.popup__submit-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .popup__submit-button {
        width: 238px;
        height: 46px;
        margin-top: 12px;
        font-size: 14px;
        line-height: 17px;
    }
}