.popup__form {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

@media screen and (max-width: 767px) {
    .popup__form {
        padding-top: 70px;
        min-width: 238px;
        
    }
}