.popup__title {
    margin: 0;
    padding-top: 35px;
    padding-left: 35px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}

@media screen and (max-width: 767px) {
    .popup__title {
        width: 238px;
        font-size: 18px;
        line-height: 22px;
        padding: 0;
        padding-top: 25px;
        margin: 0 auto;
    }
}